<div class="footer">
    <div class="footer__logo-container">
        <a class="event" data-label="Vente-privee" data-event="TagEvent::Exit" href="http://vente-privee.com" target="_blank">
            <img class="footer__logo footer__logo--invite-de-marque" src="./img/{{ trad.footer_rose }}" alt="L'invité de marque par Vente-privée">
        </a>
        <a class="event" data-label=":Tassimo" data-event="TagEvent::Exit" href="#" target="_blank">
            <img class="footer__logo footer__logo--hesperide" src="./img/footer-marque.png" alt="Tassimo">
        </a>
    </div>
    <p class="footer__copyright">© {{ trad.project }} {{ "now"|date("Y") }}. {{ trad.footer_rights }}</p>
</div>

{#<a href="#" class="backtotop scrollTo" data-scroll=".container">&nbsp;</a>#}
