<header class="header-dev header-dev--closed">
    <div class="header-dev__content">
        <h3 class="header-dev__title">devToolbar //</h3>
        <div class="header-dev__btn">
            <button class="header-dev__swap">SWAP</button>
            <button class="header-dev__mixpanel">MIXPANEL</button>
            <button class="header-dev__tracking">TRACKING</button>
            <button class="header-dev__open-app">APP VP</button>
        </div>
        <p class="header-dev__close">Close X</p>
    </div>
</header>