<div class="footer">
    <div class="footer__wrapper">

        <div class="footer__logo carterose">
            <span class="icon icon-carte-rose-footer-1"></span>
            <span class="icon icon-carte-rose-footer-2"></span>
            <span class="icon icon-carte-rose-footer-3"></span>
        </div>

        <span class="footer__logo icon icon-logo-brand-1">
            <span class="icon icon-logo-brand-2"></span>
        </span>

    </div>
    <p class="footer__mentions">&copy;  {{ "now"|date("Y") }} {{ trad.project }}. {{ trad.footer_rights }}</p>
</div>
