<div class="loader">
    <div class="loader__content">

        {#<img class="loader__header" src="img/loader-carte-rose-a.png" alt="Carte rose à">#}
        <div class="loader__logo carterose">
            <span class="icon icon-carte-rose-1"></span>
            <span class="icon icon-carte-rose-2"></span>
            <span class="icon icon-carte-rose-3"></span>
        </div>

        <div class="loader__brand">
            <span class="icon icon-logo-brand"></span>
        </div>
        <div class="loader__spin">
            <svg class="loader__circular" viewBox="25 25 50 50">
                <circle class="loader__path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>

    </div>
</div>